<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Senac Tech - Home</title>
		
		<!-- Definição de codificação de caracteres. Recomenda-se usar sempre UTF-8 -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../static/css/home/index.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/home/body.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/global/menu.css">

	</head>
	<body>
		<!--<img src="imagens/logosenac.png" alt="Logo Senac" style="margin-right: 21.5em;" align="Left" title="Logo Senac">-->
		<section>
			<header>
			<img src="../../static/imagens/logo/logosenac.png" alt="Logo Senac" title="Senac" id="logosenac">
			</header>
			<input type="checkbox" id="bt_menu">
			<label for="bt_menu">&#9776;</label>
			<nav id="menu">
			<ul>
				<li>
					<a href="index.html">Início</a>
					<u>

				</li>
				<li>
					<a href="../cursos/cursos.html">Cursos</a>
					<ul>
						<li><a href="../cursos/curso_info.html">Informática</a></li>
						<li><a href="../cursos/curso_redes.html">Redes de Computadores</a></li>
						<li><a href="../cursos/curso_sistemas.html">Desenvolvimento de Sistemas</a></li>
						<li><a href="../cursos/curso_admin.html">Administração</a></li>
						<li><a href="../cursos/curso_jogos.html">Programação de Jogos Digitais</a></li>
						
					</ul>
				</li>	
				<li>
					<a href="../localizacao/localizacao.html">Localização</a>
					
					
						
				</li>
				<li>
					<a href="../cadastro/cadastro.html">Cadastro</a>
					
				</li>
				
			</ul>
		</nav>
		</section>
		
		<hr>
		<!-- Elemento de parágrafo -->
		<!-- Texto do parágrafo centralizado -->
		<br>
		
		<section>
			<article>
			<div id="primeiropar">
				<h3>Sobre o SENAC</h3>
				<!-- Texto do parágrafo justificado -->
				<p>	
				
				O Serviço Nacional de Aprendizagem Comercial – Senac é uma instituição de educação profissional, fundada em 10 de janeiro de 1946 com o objetivo de colaborar na obra, difusão e aperfeiçoamento do ensino profissional no setor terciário. No Rio Grande do Sul, o Senac foi instalado em 13 de setembro do mesmo ano e nos mais de 70 anos de atuação já capacitou mais de 7 milhões de gaúchos. A instituição cumpre a importante missão de educar para o trabalho em atividades do comércio de bens, serviços e turismo. O Senac-RS faz parte da Federação do Comércio de Bens e Serviços do Rio Grande do Sul – Fecomércio-RS, o que vincula a entidade ao mundo do trabalho por meio de 569 mil empresas do comércio de bens, serviços e turismo – que geram um milhão de empregos formais.
				</p>
				
							
				<img id="foto1senac" src="../../static/imagens/gerais/saladeaula.jpg" alt="Senac Tech"  
				title="Senac Tech">			
				
				<p>	
				O Senac-RS disponibiliza educação em todos os níveis – do Menor Aprendiz à Pós-Graduação. Atualmente, a entidade conta com duas faculdades – Faculdade Senac Porto e Faculdade de Tecnologia Senac Pelotas, além de 41 escolas de educação profissional distribuídas pelo Estado e 23 Unidades Sesc/Senac. São mais de 60 postos de atendimento que possibilitam o Senac atender a todos os 497 municípios gaúchos.
				</p>
				<p>	
				Muito antes de se falar em responsabilidade social, o Senac já exercia, na prática, a inclusão social ao preparar menores aprendizes para o mundo do trabalho. Mais do que ser a sua razão de existir, o Menor Aprendiz é a prova da importância e contribuição da Instituição para a educação profissional brasileira. Vinculados ao programa Jovem Aprendiz, por meio da Lei Federal 10.097/200 e Decreto nº 5598/2005, os cursos de Aprendizagem Comercial, oferecidos gratuitamente pelo Senac-RS, envolvem os alunos em aulas que variam de 1.100 a 1.200 horas de atividades curriculares, das quais metade se referem à capacitação teórica e a outra metade à prática supervisionada (realizada nas dependências da empresa).
				</p>
			</div>
			<br>		
			<div id="segundopar">
				<img src="../../static/imagens/gerais/alunos.jpeg" id="foto2senac" alt="Alunos Trabalhando"  
				 title="Alunos trabalhando">
				
				
					<p id="pt1">
					O Programa Senac de Gratuidade (PSG), resultado de um acordo entre o Senac e o Governo Federal em 2008, significa educação profissional de qualidade para que milhares de pessoas possam planejar seus estudos e ter mais oportunidade de trabalho e emprego. O PSG oferece cursos de Aprendizagem, cursos de nível técnico, qualificação técnica, cursos de capacitação e aperfeiçoamento, totalizando mais de 20 mil alunos atendidos gratuitamente nas unidades educacionais do Estado. Para ter acesso a esses cursos, os candidatos deverão atender aos seguintes critérios: pessoas com baixa renda, na condição de alunos matriculados ou egressos da educação básica e trabalhadores – empregados ou desempregados-, priorizando-se aqueles que satisfizerem as duas condições (aluno e trabalhador). Além disso, a Instituição desenvolve diversos projetos sociais em parceria com empresas e organização não-governamentais (ONG´s).
					<br>
					<br>
					<br>
					</p>
					<p id="pt2">
					Considerando a rapidez das informações e do desenvolvimento tecnológico, o Senac oferece cursos de capacitação em horários alternativos, aplicando metodologias diferenciadas e personalizadas, laboratórios de alta tecnologia, atendimentos individualizados em ambientes modernos e confortáveis. Nos diversos níveis de capacitação, através de aulas presenciais ou à distância, o modelo pedagógico está baseado na apropriação de competências para o trabalho. O Senac propõe a qualificação de um indivíduo capaz de articular conhecimentos, habilidades e atitudes com o objetivo de agir, decidir e intervir em situações nem sempre previstas dentro e fora do mundo do trabalho, promovendo a construção da cidadania.
					</p>
				
			</div>
			</article>
		</section>
		
	<footer>
		<p align="center">
		<a href="#s1">
		<img src="../../static/imagens/icons/seta.png" alt="seta" width="68" height="68" 
		title="Subir para o topo" >
		</a>
		</p>
		
		<a href="https://pt-br.facebook.com/" target="black">
		<img class="imgredes" src="../../static/imagens/logo/logoface.png" alt="Facebook" title="facebook" >
		</a>
		<a	href="https://www.instagram.com/?hl=pt-br" target="black">		
		<img class="imgredes" src="../../static/imagens/logo/logoinst.jpg" alt="instagram"  title="instagram" >
		</a>
		<a	href="https://twitter.com/login?lang=pt" target="black">	
		<img class="imgredes" src="../../static/imagens/logo/logotwi.png" alt="twitter"  title="twitter" >
		</a>
	</footer>	
<script>
<!--function myFunction() {
//  var x = document.getElementById("meuMenu");
//  if (x.className === "menu") {
 //   x.className += " responsive";//Abre e executa o icone do menu
 // } else {
//    x.className = "menu";//recolhe o menu pelo icone
//  }
//}
-->
</script>
	</body>
</html>

