<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Senac Tech - Onde Estamos</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/index/styleindex.css">
		<link rel="stylesheet" type="text/css" href="../static/css/index/body.css">
		<link rel="stylesheet" type="text/css" href="../static/css/header/menu.css">
		<link rel ="stylesheet" type="text/css" href="./cadastro/cadastro.html">

	</head>
	<body> 
		<section>
		
			<img src="../imagens/logosenac.png" alt="Logo Senac" title="Senac" id="logosenac">
			
			<input type="checkbox" id="bt_menu">
			<label for="bt_menu">&#9776;</label>
			<nav id="menu">
			<ul>
				<li>
					<a href="../index.html">Início</a>
					<u>

				</li>
				<li>
					<a href="cursos.html">Cursos</a>
					<ul>
						<li><a href="cursoinfo.html">Informática</a></li>
						<li><a href="cursoredes.html">Redes de Computadores</a></li>
						<li><a href="cursosistemas.html">Desenvolvimento de Sistemas</a></li>
						<li><a href="cursoadmin.html">Administração</a></li>
						<li><a href="cursojogos.html">Programação de Jogos Digitais</a></li>						
					</ul>
				</li>	
				<li>
					<a href="localizacao.html">Localização</a>												
				</li>
				<li>
					<a href="cadastro.html">Cadastro</a>					
				</li>
				
			</ul>
		</nav>
		</section>
		<hr>
		<p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.7917769435962!2d-51.22108158420672!3d-30.042831038163296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951978567e901f85%3A0x419bba8824e42f95!2sAv.%20Ven%C3%A2ncio%20Aires%2C%2093%20-%20Cidade%20Baixa%2C%20Porto%20Alegre%20-%20RS%2C%2090040-191!5e0!3m2!1spt-BR!2sbr!4v1590938323463!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</p>
		<br>
		<p>
		ENDEREÇO - VENÂNCIO AIRES 93, CIDADE BAIXA		
		</p>
		<br>
		<p>
		CONTATO - (51) 3288-7750
		</p>
		
	</body>


</html>