#primeiropar h3{	
	text-align: center;
	
}
#primeiropar p{
	text-align: justify;
	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#foto1senac {
	display: block;  
	margin-right: auto;  
	margin-left: auto;
	margin-bottom:15px;
	margin-top:15px;
}
#primeiropar img{
	width:500px;
	height:200px;
	object-fit: cover;
}
#logosenac{
	display:flex;
	justify-content:center;
}
body{
	background-color:#ffffff;	
}
#foto2senac{
	display: block;  
	margin-right: auto;  
	margin-left: auto;
}
#pagina {
	background-color:#ffa500;
}

#segundopar img{			
	width:500px;
	height:200px;
	object-fit: cover;
}
/*
.segundopar, img{
	display:inline-block;
	height:380px;
}
*/
#pt1 {
	text-align: justify;
	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#pt2 {
	text-align: justify;
	
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
/*
.segundopar p{
	text-align: justify;	
	font-family: Arial, Helvetica, sans-serif;
}
*/


#terceiropar h3{
	text-align: center;
	
}
#terceiropar p{
	text-align: center;
	
}

footer img{
	width: 5%;
}

@media(max-width: 700px) {
	width:100%;
	height:auto;
}


