* {
    margin: 0;
    padding: 0; 
    }
   #logosenac {
       position: relative;
       display: block;  
       margin-right: auto;  
       margin-left: auto;
   }
   #menu {	
       align-content: center;	
       background-color:#db7a29;		
       height: 70px;	
       font-family: Arial, Helvetica, sans-serif;
   }
   #menu ul{
       list-style: none;
       position: relative;
       margin-right: auto;
       margin-left: auto;
       margin-top:20px;
       padding: 20px;
       smargin: 10px;
       
       background-color: #db7a29;	
   }
   #headerwrapper {
       background-color: #FFFFFF;
   }
   #menu ul li{
       padding: 10px;
       float: left; 
   }
   
   
   
   #menu a{
       
       
       
       display: inline-block;	
       text-decoration: none;
       
       font-weight: 650;
       color: white;
       text-align: center;
       text-transform:uppercase;
       margin-left:10px;
       margin-right:10px;
       align-content: center;
   
   }
   #menu a:hover{
       background-color: #ffffff;	
       color: darkblue;
   }
   
   #menu ul ul {
    position: absolute;
    visibility: hidden; 
    transition:0.4s;
    }
    
    #menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
    height:auto;
    padding: 1px;
    margin-left: 0px;
    margin-right:0px;
    
    font-size:14px;
   
    }
    
   #menu ul li:hover ul {
    visibility: visible;   
    
    }
    
    label[for="bt_menu"]{
    padding: 5px;
    background-color: #db7a29;
    color: #fff;
    sfont-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    }
    
    #bt_menu {
    display: none;
    
    }
    
    label[for="bt_menu"]{
    display: none;
    
    
    }
    @media(max-width: 700px) {
       /*colocar esse ponto
       display: block; define o icone em bloco  */
     label[for="bt_menu"] {
       display: flex;
       justify-content:center;
    
    }
    #menu {
        visibility:hidden;
    }
    /*colocar esse ponto
   #bt_menu:checked ~ #menu{
    margin-left: 0;
    :checked de um seletor CSS representa um elemento 
    checkbox (<input type="checkbox">)que está marcada ou 
    alternado para um estado ligado.
    Representa todos os checkboxes na página que estão ativos
    :checkedpseudo-classe no CSS seleciona elementos 
    quando eles estão no estado selecionado.
    ~ Ele selecionará, qualquer elemento #menu, 
    desde que ele venha depois de um elemento #bt_menu.
   */ 
   #bt_menu:checked ~ #menu{
    margin-left: 0;
    
    
    }
     /*  modificar esse ponto
     margin-left: -100%; - menu vai sumir da tela
        transition: all 1s; - define um tempo de 1 segundo para
        sumir e aparecer o menu
     */
       #menu{
           
        background-color: #db7a29;
        margin-left: -100%;
        stransition: all 1s;
        visibility:visible;
        width:50%;
        display:flex;
        
        
        }
         /*modificar esse ponto
         width: 100%; - define largura do menu
        float: none; - define que o menu não vai bugar o site
         */
       #menu ul li {
        
        float: none;
        background-color: #db7a29;
        }
         /*modifica esse ponto
         position: static; - define o sub statico
        overflow: hidden; - define que o sub não apareça
        max-height: 0; - define a altura máxima do sub
        transition: all 4s; - define o tempo de transição do sub
         */
       #menu ul ul {
       position: static;
       
       max-height: 0;
       wdith
       transition: all 4s;	 	
       
       
       
    }
    #menu ul li:hover ul {
        height: auto;
        max-height: 200px;
        background-color: #db7a29;
         
        }
        #menu a{
       
       
       
       display: flex;	
       text-decoration: none;
       
       font-weight: 650;
       color: white;
       text-align: center;
       text-transform:uppercase;
       overflow:hidden;
       justify-content: center;
       }
   }
         /*max-height: 200px; - define que o sub vai abrir até 200px  */
       
   
   
    